<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDemoService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IDemoService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:43222/PracticeService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDemoService" contract="DemoServiceProxy.IDemoService"
                name="BasicHttpBinding_IDemoService" />
            <endpoint address="net.tcp://localhost:43223/PracticeService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDemoService"
                contract="DemoServiceProxy.IDemoService" name="NetTcpBinding_IDemoService">
                <identity>
                    <userPrincipalName value="administrator@pucit.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>