<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviour">
          <serviceMetadata httpGetEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="HelloWcfService.HelloWcfService" behaviorConfiguration="mexBehaviour">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:56335/"/>
            <add baseAddress="net.tcp://localhost:56336/"/>
          </baseAddresses>
        </host>
        <endpoint address="HelloService" binding="basicHttpBinding" contract="HelloWcfService.IHelloWcfService"/>
        <endpoint address="HelloService" binding="netTcpBinding" contract="HelloWcfService.IHelloWcfService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>